<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv0RydlE_Ay80k7fkhu8If5O8cdBrQ54o</string>
	<key>GCM_SENDER_ID</key>
	<string>202646365786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orionsudan.darnilestore</string>
	<key>PROJECT_ID</key>
	<string>darnilestore</string>
	<key>STORAGE_BUCKET</key>
	<string>darnilestore.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202646365786:ios:ada7a4f03f901d79721a63</string>
</dict>
</plist>